* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inria Serif", serif;
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  line-height: 1;
  color: #333;
  font-weight: 400;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

/* NAVIGATION */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6fcf5;
  padding: 4.8rem 9.6rem;
}

.nav-logo img {
  height: 3.2rem;
}

.main-nav-links {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  font-size: 2.4rem;
}

.main-nav-link a:link,
.main-nav-link a:visited {
  text-decoration: none;
  color: #333;
}

.login-cta {
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  padding: 1.6rem 3.2rem;
  background-color: #0ca678;
  border-radius: 50px;
}

.menu{
  width: 2.4rem;
  height: 2.4rem;
  display: none;
}

/* HERO SECTION */

.section-hero {
  padding: 3.2rem 0;
  /* margin-top: 7.2rem; */
  background-color: #e6fcf5;
  /* background-color: aquamarine; */
  /* width: 120rem; */
}

.hero {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 12.8rem;
  column-gap: 6.4rem;
}

.hero-img-box img {
  width: 100%;
}

.hero-text-box {
  /* align-self: center; */
}

.primary-heading {
  font-size: 4.8rem;
  color: #333;
  margin-bottom: 4.8rem;
  letter-spacing: -0.5px;
}
.hero-text {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
  letter-spacing: -0.75px;
  /* font-weight: 400; */
}

.btn-box {
  display: flex;
  gap: 3.2rem;
}

.btn-box a {
  padding: 1.6rem 2.4rem;
  background-color: #0ca678;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
  .header{
    padding: 3.2rem 6.4rem;
  }
  .main-nav-links{
    gap: 2.4rem;
  }
  .primary-heading{
    font-size: 4rem;
  }
  .hero{
    column-gap: 3.2rem;
    padding: 0 9.6rem;
  }
}

@media (max-width: 62.5em){
  html{
    font-size: 56.25%;
  }
  .main-nav,.login-cta{
    display: none;
  }
  .menu{
    display: block;
  }
  .hero{
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
  .hero-img-box img{
    width: 50%;
  }
  .hero-img-box{
    text-align: center;
    
  }
  .hero-text-box{
    text-align: center;
  }
  .btn-box{
    justify-content: center;
  }
}

@media (max-width:37.5em){
  html{
    font-size: 50%;
  }
  
}