* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inria Serif", serif;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  line-height: 1;
  color: #333;
  font-weight: 400;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

/* NAVIGATION */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6fcf5;
  padding: 4.8rem 9.6rem;
}

.nav-logo img {
  height: 3.2rem;
}

.main-nav-links {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  font-size: 2.4rem;
}

.main-nav-link a:link,
.main-nav-link a:visited {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

.login-cta {
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  padding: 1.2rem 2.4rem;
  background-color: #0ca678;
  border-radius: 50px;
}

.menu {
  width: 2.4rem;
  height: 2.4rem;
  display: none;
}

/* HERO SECTION */

.section-hero {
  padding: 3.2rem 0;
  background-color: #e6fcf5;
}

.hero {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 9.6rem;
  column-gap: 6.4rem;
}

.hero-img-box img {
  width: 100%;
}

.hero-text-box {
  /* align-self: center; */
}

.primary-heading {
  font-size: 4.8rem;
  color: #333;
  margin-bottom: 4.8rem;
  letter-spacing: -0.5px;
}
.hero-text {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
  letter-spacing: -0.75px;
  /* font-weight: 400; */
}

.btn-box {
  display: flex;
  gap: 3.2rem;
}

.btn-box a {
  padding: 1.6rem 2.4rem;
  background-color: #0ca678;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

/* PLANNING */

.section-planning {
}

.plan {
  padding: 9.6rem;
}

.secondary-heading {
  font-size: 4rem;
  margin-bottom: 9.6rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* height: 50rem; */
  /* padding: 9.6rem 4.8rem; */
  gap: 2.4rem;
  background-color: #e6fcf5;
  background-image: linear-gradient(to left, #0ca678, #8ae6c9);
  border-radius: 3.2rem;
  /* transition: all 0.3s; */
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4.8rem 2.4rem 0 2.4rem;
  gap: 2.4rem;
}
.cta-form div {
  display: flex;
  /* align-items: center; */
  font-size: 1.6rem;
  font-weight: 700;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  position: relative;
}

.cta-heading {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.cta-img-box {
  background-image: url("../Images/hero.png");
  /* width: 100%; */
  background-size: cover;
  background-position: center;
}
.cta-text-box {
  padding: 9.6rem 0;
  align-self: center;
  /* text-align: center; */
}

.cta-text {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}

.cta-form input {
  border: none;
  background-color: #fff;
  border-radius: 5rem;
  padding: 1.6rem 3.2rem;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  /* z-index: ; */
}

input:focus {
  outline: none;
}

.cta-form label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 3.2rem;
  transform: translate(0, -50%);
}

.cta-form div:last-child a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: #098b64;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
}

.cta-form div:last-child {
  grid-column: span 2;
}
